In [22]:
data = pd.DataFrame({'Country':['India','Russia','Colombo','Chile'],'Rank':[4,10,16,21]})
print(data)
print("----------------")
print(data.describe())
print("----------------")
print(data.describe().min())
print("----------------------------------------")
print(data.info())

   Country  Rank
0    India     4
1   Russia    10
2  Colombo    16
3    Chile    21
----------------
           Rank
count   4.00000
mean   12.75000
std     7.36546
min     4.00000
25%     8.50000
50%    13.00000
75%    17.25000
max    21.00000
----------------
Rank    4.0
dtype: float64
----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  4 non-null      object
 1   Rank     4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 196.0+ bytes
None

In [20]:
data = pd.DataFrame({'group':['a','a','a','b','b','b','c','c','c'],'ounces':[4,3,12,6,7,8,3,5,6]})
#data = pd.DataFrame({'Group':['In,'Russia','Colombo','Chile'],'Rank':[4,10,16,21]})
print('Original Data')
print(data)
print("-----------------------")
print('asc True and inplace False')
print(data.sort_values(by = ['ounces'],ascending = True, inplace = False))
print("-----------------------")
print('asc False and inplace False')
print(data.sort_values(by = ['ounces'],ascending = False, inplace = False))

Original Data
  group  ounces
0     a       4
1     a       3
2     a      12
3     b       6
4     b       7
5     b       8
6     c       3
7     c       5
8     c       6
-----------------------
asc True and inplace False
  group  ounces
1     a       3
6     c       3
0     a       4
7     c       5
3     b       6
8     c       6
4     b       7
5     b       8
2     a      12
-----------------------
asc False and inplace False
  group  ounces
2     a      12
5     b       8
4     b       7
3     b       6
8     c       6
7     c       5
0     a       4
1     a       3
6     c       3

In [27]:
data = pd.DataFrame({'k1':['one']*3 + ['two']*4, 'k2':[3,2,1,3,3,4,4]})
print(data)
print("------------------")
print(data.sort_values(by='k2'))
print("-----------------------")
print('Remove Duplicates..')
print(data.drop_duplicates())
print('Remove Duplicates Matching Row Values..')
print(data.drop_duplicates(subset = 'k1'))

    k1  k2
0  one   3
1  one   2
2  one   1
3  two   3
4  two   3
5  two   4
6  two   4
------------------
    k1  k2
2  one   1
1  one   2
0  one   3
3  two   3
4  two   3
5  two   4
6  two   4
-----------------------
Remove Duplicates..
    k1  k2
0  one   3
1  one   2
2  one   1
3  two   3
5  two   4
Remove Duplicates Matching Row Values..
    k1  k2
0  one   3
3  two   3