In [25]:
import pandas as pd
telecust = pd.read_csv('telecust1.csv')
path = 'telecust1.csv'
df = pd.read_csv(path)
#print(df)
print('-----------------------------------HEAD------------------------------------------')
print(df.head(10))
print('-----------------------------------TAIL------------------------------------------')
print(df.tail(10))
print('--------------------------------------------------------------------------------')
print(df[['age','ed']])
print('------------------------------------DESCRIBE---------------------------------------')
print(df.describe())

-----------------------------------HEAD------------------------------------------
   region  age  marital  address  income   ed  retire  gender  reside  custcat
0       2   35        1        9      64    4       0       0       2        1
1       3   23        1        7     136  NaN       0       0       6        4
2       3   52        1       24     116    1       0       1       2        3
3       2   34        0       12      33    2       0       1       1        1
4       2   30        1        9      30    1       0       0       4        3
5       2   39        0       17      78    2       0       1       1        3
6       3   23        1        2      19    2       0       1       5        2
7       2   35        0        5      76    2       0       0       3        4
8       3   59        1        7     166    ?       0       0       5        3
9       1   41        1       21      72    1       0       0       3        2
-----------------------------------TAIL------------------------------------------
     region  age  marital  address  income ed  retire  gender  reside  custcat
990       1   43        0        6      27  3       0       0       1        3
991       2   50        1       16     190  2       0       1       2        2
992       1   52        1        2     106  2       0       0       2        3
993       3   54        1       30      26  3       0       1       2        4
994       1   46        1       17      63  5       0       0       2        4
995       3   39        0        0      27  3       0       1       3        1
996       1   34        0        2      22  5       0       1       1        1
997       3   59        0       40     944  5       0       1       1        4
998       3   49        0       18      87  2       0       1       1        3
999       3   36        1        7      39  3       0       1       3        2
--------------------------------------------------------------------------------
     age   ed
0     35    4
1     23  NaN
2     52    1
3     34    2
4     30    1
..   ...  ...
995   39    3
996   34    5
997   59    5
998   49    2
999   36    3

[1000 rows x 2 columns]
------------------------------------DESCRIBE---------------------------------------
          region          age      marital      address       income  \
count  1000.0000  1000.000000  1000.000000  1000.000000  1000.000000
mean      2.0220    41.645000     0.495000    11.551000    77.535000
std       0.8162    12.581545     0.500225    10.086681   107.044165
min       1.0000    18.000000     0.000000     0.000000     9.000000
25%       1.0000    32.000000     0.000000     3.000000    29.000000
50%       2.0000    40.000000     0.000000     9.000000    47.000000
75%       3.0000    51.000000     1.000000    18.000000    83.000000
max       3.0000    77.000000     1.000000    55.000000  1668.000000

            retire       gender       reside      custcat
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.047000     0.517000     2.331000     2.487000
std       0.211745     0.499961     1.435793     1.120306
min       0.000000     0.000000     1.000000     1.000000
25%       0.000000     0.000000     1.000000     1.000000
50%       0.000000     1.000000     2.000000     3.000000
75%       0.000000     1.000000     3.000000     3.000000
max       1.000000     1.000000     8.000000     4.000000

In [26]:
df.isnull().sum()

region     0
age        0
marital    0
address    0
income     0
ed         1
retire     0
gender     0
reside     0
custcat    0
dtype: int64